.testing{
    /* background-color: #154a07; */
    /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%2362cd6d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    background-color: #154a07;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236ec158' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    
}
.pattern1{
    background-color: #154a07;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%2362cd6d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}
.pattern2{
    background-color: #154a07;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236ec158' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.tapa{
    /* background: #000000; */
    background-color: #946300;
    background-image: url("../img/clipboard/wine-cork.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 100%;
    width: 100%;
    border-radius: 13px;
}
.clip{
    position: relative;
    top:60%;
    z-index: 100;
}
.clipMini{
    position: relative;
    top:100%;
    z-index: 100;
}
.corkBg{
    background-color: #946300!important;
    background-image: url("../img/clipboard/wine-cork.png")!important;
}
.folio{
    border-top-right-radius: 10px;
    background: #eeeeee!important;
    border-top-left-radius: 10px;

    color:#000000!important;
}
.titleList{
    background-color: #946300!important;
    background-image: url("../img/clipboard/wine-cork.png")!important;
    color: #ffffff!important;

}
.btnMail{
    background-color: #387427!important;
    color: #ffffff!important;
    font-family: 'Open Sans', sans-serif;
}
.btnMail:hover{
    background-color: #3b8d27!important;
    color: #ffffff!important;
    font-family: 'Open Sans', sans-serif;
}

.btnWeb{
    background-color: #387427!important;
    color: #ffffff!important;
    font-family: 'Open Sans', sans-serif;
}
.btnWeb:hover{
    background-color: #3b8d27!important;
    color: #ffffff!important;
    font-family: 'Open Sans', sans-serif;
}
.squada-one{
    font-family: 'Squada One', cursive;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.footer{
    background-color: #387427;    
    /* background-color: #1a4b20!important; */
    color:#ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.footer a {
    color:inherit!important;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }